.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.controls {
  margin-bottom: 20px;
}

.controls td {
  vertical-align: top;
  padding: 0 20px;
}

.move-mouse-here {
  width: 400px;
  height: 200px;
  display: table;
  margin: 0 auto;
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  line-height: 200px;
}

.click-here {
  width: 400px;
  height: 200px;
  display: table;
  margin: 0 auto;
  color: white;
  background-color: rgb(136, 112, 161);
  text-align: center;
  line-height: 200px;
}

.scroll-here {
  width: 400px;
  height: 2000px;
  display: table;
  margin: 0 auto;
  color: white;
  background-color:rgb(114, 85, 182);
  text-align: center;
  line-height: 200px;
}